<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <header style="display: flex; align-items: center; justify-content: space-between;">
        <h1>Миссия колонизация марса</h1>
        <span >Mars one</span>
    </header>
    <section>
        <h4 style="color: #ccc">И на марсе будут яблони цвести</h4>
        {% if context.list_type %}
            <{{context.list_type}}>
                {% for profession in context.professions %}
                        <li>{{profession}}</li>
                {% endfor %}
            </{{context.list_type}}>
        {% endif %}

        <span>
            {{context.error}}
        </span>
    </section>
</body>
</html>